body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif!important;
}

.font-inter {
 font-family: "Montserrat", sans-serif;
}

.nav-menu a.active {
  /* border-bottom: 2px solid #ff5146; */
  font-weight: 600;
  color: #1a1a1a;
}

.swiper-pagination-bullet-active {
  background: #ff5146 !important;
}

.view {
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* sm breakpoint (640px) */
@media (min-width: 640px) {
  .view {
    padding-left: 3rem; /* px-12 */
    padding-right: 3rem;
  }
}

/* md breakpoint (768px) */
@media (min-width: 768px) {
  .view {
    padding-left: 4rem; /* px-16 */
    padding-right: 4rem;
  }
}

/* lg breakpoint (1024px) */
@media (min-width: 1024px) {
  .view {
    padding-left: 5rem; /* px-20 */
    padding-right: 5rem;
  }
}

/* xl breakpoint (1280px) */
@media (min-width: 1280px) {
  .view {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* 2xl breakpoint (1536px) */
@media (min-width: 1536px) {
  .view {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
} */
.logo-box::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -18%;
  width: 90px;
  height: 100%;
  background-color: #ffffff;
  clip-path: polygon(37% 0, 61% 0, 51% 100%, 51% 100%);
}
.logo-box::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -24%;
  width: 75px;
  height: 100%;
  background-color: #ffffff;
  clip-path: polygon(55% 0, 59% 0, 63% 100%, 44% 100%);
}
.rect-box::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -17%;
  width: 90px;
  height: 100%;
  background-image: linear-gradient(to top right, #670916, #650916, #650916);
  clip-path: polygon(50% 0%, 39% 100%, 56% 100%);
}
.rect-box::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -17%;
  width: 66px;
  height: 100%;
  background-image: linear-gradient(to top right, #cb122d, #cb122d);
  clip-path: polygon(31% 0, 53% 0, 42% 100%, 25% 100%);
}
.feature-box::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -6%;
  width: 66px;
  height: 100%;
  background-image: linear-gradient(to top right, #cb122d, #cb122d);
  clip-path: polygon(31% 0, 53% 0, 42% 100%, 25% 100%);
}
.feature-box1::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -3.4rem;
    width: 59px;
    height: 100%;
    background-image: linear-gradient(to top right, #cb122d, #cb122d);
    clip-path: polygon(2% 0, 79% 0, 9% 100%, 8% 100%);
}
@media (min-width: 768px) {
  .tabs-sec::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -6%;
    width: 78px;
    height: 100%;
    background: #000000;
    clip-path: polygon(-1% 0, 84% 0, 40% 100%, 1% 100%);
    z-index: -1;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
  padding-left: 100%;
}
.swiper-autoheight .swiper-wrapper {
  align-items: initial !important; /* or center, flex-end as needed */
  transition-property: transform !important; /* remove height from transition */
}
@keyframes pulseBlink {
  0% {
    transform: scale(1) rotate(-90deg);
  }
  50% {
    transform: scale(1.05) rotate(-90deg); /* slight zoom */
  }
  100% {
    transform: scale(1) rotate(-90deg);
  }
}

.blink-effect {
  animation: pulseBlink 1.5s ease-in-out infinite;
}
@media (min-width: 991px) {
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-slideUp {
    animation: slideUp 0.5s ease forwards;
  }
}

/* New CSS Add */
@keyframes popupSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideUp {
  animation: popupSlide 0.3s ease forwards;
}
/* Default placeholder color */
input::placeholder {
  color: #000;
  opacity: 1;
}

/* Placeholder color when dropdown is open */
input.open::placeholder {
  color: #fff;
}
.scrollNone::-webkit-scrollbar {
  display: none !important;
}
::-webkit-scrollbar {
  width: 1px;
  height:1px;
  padding-top:6px;               
}

::-webkit-scrollbar-track {
  background: #f1f1f1;      
}

::-webkit-scrollbar-thumb {
  background: #cccccc;      
  border-radius: 40px;      
}

::-webkit-scrollbar-thumb:hover {
  background: #b93a40;      
}